body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f4f6;
    color: #333;
}

header {
    background-color: #2196f3;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.logo {
    max-width: 100%; /* agar logo tidak lebih besar dari kontainer */
    height: 170px;
}

main {
    text-align: center;
    margin-top: 50px;
}

#timer {
    font-size: 4em;
    margin: 20px 0;
}

.controls button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

.controls button:hover {
    background-color: #1976d2;
    color: #fff;
}
